.card{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    margin: 10px;
    flex: 0 1 calc(33.333% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
}
.card-image{
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
h2{
   font-size: 1.5em;
   margin: 10px 0; 
}
p{
   font-size: 1em;
   color: #666;
   padding: 0 10px 10px;
}